[class*="__container"] {
	max-width: 1235px;
	margin: 0 auto;
	padding: 0px 10px;
}

// Colors
$mainColor: #fff;
$blackColor: #000;

// Botton
.btn {
	cursor: pointer;
}
// Logo
.logo {
}

// Nav
.nav {
}

// Body
body {
	// font-family: "Roboto", sans-serif;
	// font-family: "Outfit", sans-serif;
	font-family: "MTN Brighter Sans Regular";
	background-color: $blackColor;
	color: $mainColor;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
}

.main {
	background: url('../img/main-bg.png') 0 0  / cover no-repeat;
}

// Header
.header {
	// .header__container

	&__container {
	}

	// .header__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 105px 0 95px;
	}
}

.menu {
	display: flex;
	align-items: center;
	gap: 26px;

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
		font-family: "Outfit", sans-serif;
		font-size: 25px;
	}
}

// hero
.hero {
	padding-bottom: 26px;

	// .hero__container

	&__container {
	}

	// .hero__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .hero__content

	&__content {
	}

	// .hero__image

	&__image {
	}
}
.content-hero {
	// .content-hero__title

	&__title {
		font-size: 50px;
		line-height: 0.91;
		letter-spacing: -1px;
		margin-bottom: 10px;
		max-width: 495px;
		span {
			font-size: 50px;
			font-weight: 700;
			line-height: 47.5px;
		}
	}

	// .content-hero__text

	&__text {
		font-family: "Roboto", sans-serif;
		font-size: 20px;
		line-height: 1.37;
		margin-bottom: 28.15px;
		max-width: 373px;
	}

	// .content-hero__buttons

	&__buttons {
		display: flex;
		align-items: center;
		gap: 51px;
	}

	// .content-hero__link

	&__link {
		color: $mainColor;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.37;
		border-radius: 10px;
		padding: 15px 39px 14px;
		&_pink {
			background-color: #d50138;
		}
		&_transparent {
			background-color: transparent;
			border: 1px solid #8a8a8a;
		}
	}
}
.image-hero {
	border-radius: 23px;
	overflow: hidden;
}

// services
.services {
	padding: 118px 0;
	// .services__container

	&__container {
	}

	// .services__title

	&__title {
		font-size: 20px;
		line-height: 1.37;
		text-transform: uppercase;
		margin-bottom: 12.24px;
	}

	// .services__inner

	&__inner {
		border-radius: 6px;
		background: rgba(255, 255, 255, 0.1);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		padding: 20px 0;
	}

	// .services__item

	&__item {
	}
}
.item-services {
	display: flex;
	align-items: center;
	gap: 30px;

	// .item-services__img

	&__img {
	}

	// .item-services__text

	&__text {
	}
}

// pricing
.pricing {
	padding: 72px 0;

	// .pricing__container

	&__container {
	}

	// .pricing__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 68px;
	}

	// .pricing__content

	&__content {
	}

	// .pricing__image

	&__image {
		border-radius: 9px;
		overflow: hidden;
	}
}
.content-pricing {
	// .content-pricing__title

	&__title {
		font-size: 36px;
		line-height: 0.98;
		letter-spacing: -0.72px;
		margin-bottom: 13px;
		max-width: 400px;
	}

	// .content-pricing__text

	&__text {
		margin-bottom: 24px;
		font-family: "Roboto", sans-serif;
		font-size: 17px;
		line-height: 1.02;
		max-width: 373px;
	}

	// .content-pricing__buttons

	&__buttons {
	}

	// .content-pricing__link

	&__link {
		display: inline-block;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.37;
		border-radius: 10px;
		background: #0026ff;
		padding: 15px 27px;
	}
}
.image-pricing {
}

// experience
.experience {
	padding: 105px 0;

	// .experience__container

	&__container {
	}

	// .experience__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 89px;
	}

	// .experience__content

	&__content {
	}

	// .experience__image

	&__image {
		border-radius: 15px;
		overflow: hidden;
	}
}
.content-experience {
	// .content-experience__title

	&__title {
		font-size: 36px;
		line-height: 0.98;
		letter-spacing: -0.72px;
		margin-bottom: 13px;
		max-width: 400px;
	}

	// .content-experience__text

	&__text {
		font-size: 17px;
		line-height: 1.02;
		margin-bottom: 20px;
		max-width: 337px;
	}

	// .content-experience__buttons

	&__buttons {
	}

	// .content-experience__link

	&__link {
		display: inline-block;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.37;
		padding: 14.5px 35px;
		border-radius: 10px;
		background-color: #7502a3;
	}
}
.image-experience {
}

// testimonials

.testimonials {
	padding: 70px 0;

	// .testimonials__container

	&__container {
	}

	// .testimonials__subtitle

	&__subtitle {
		font-size: 20px;
		line-height: 1.37;
		text-transform: uppercase;
		margin-bottom: 19px;
		text-align: center;
	}

	// .testimonials__title

	&__title {
		font-size: 50px;
		font-weight: 700;
		letter-spacing: 11.75px;
		line-height: 1.1;
		max-width: 630px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 156px;
	}

	// .testimonials__items

	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .testimonials__item

	&__item {
		flex: 0 1 327px;
	}
}
.item-testimonials {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 42px 37px;
	border-radius: 18px;
	background: rgba(0, 38, 255, 0.3);
	position: relative;

	// .item-testimonials__image

	&__image {
		width: 162px;
		height: 162px;
		border-radius: 50%;
		overflow: hidden;
		margin-bottom: 17px;
		position: absolute;
		top: -87px;
	}

	// .item-testimonials__desc

	&__desc {
		font-size: 20px;
		line-height: 1.37;
		text-transform: capitalize;
		margin-bottom: 18px;
	}

	// .item-testimonials__text

	&__text {
		font-size: 20px;
		line-height: 1;
		text-align: center;
	}
}

// booking
.booking {
	padding: 55px 0 406px;

	// .booking__container

	&__container {
	}

	// .booking__inner

	&__inner {
		padding: 63px 0;
		background: url('../img/booking-bg.png') 0 0 no-repeat;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	// .booking__subtitle

	&__subtitle {
		margin-bottom: 20px;
		font-size: 20px;
		text-transform: uppercase;
	}

	// .booking__title

	&__title {
		font-size: 50px;
		font-weight: 700;
		line-height: 0.96;
		text-transform: capitalize;
		margin-bottom: 32px;
		max-width: 440px;
		text-align: center;
	}

	// .booking__link

	&__link {
		display: inline-block;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.37;
		padding: 14px 37px 15px;
		border-radius: 10px;
		background-color: $mainColor;
		color: #311B52;
	}
}

// footer
.footer {

	// .footer__container

	&__container {
	}

	// .footer__inner

	&__inner {
	}

	// .footer__decor

	&__decor {
		margin-bottom: 135px;
		width: 100%;
		height: 2px;
		background: rgba(152, 152, 152, 0.10);
	}
}



