[class*=__container] {
  max-width: 1235px;
  margin: 0 auto;
  padding: 0px 10px;
}

.btn {
  cursor: pointer;
}

body {
  font-family: "MTN Brighter Sans Regular";
  background-color: #000;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 105px 0 95px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}
.menu__link {
  font-family: "Outfit", sans-serif;
  font-size: 25px;
}

.hero {
  padding-bottom: 26px;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-hero__title {
  font-size: 50px;
  line-height: 0.91;
  letter-spacing: -1px;
  margin-bottom: 10px;
  max-width: 495px;
}
.content-hero__title span {
  font-size: 50px;
  font-weight: 700;
  line-height: 47.5px;
}
.content-hero__text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.37;
  margin-bottom: 28.15px;
  max-width: 373px;
}
.content-hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 51px;
}
.content-hero__link {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.37;
  border-radius: 10px;
  padding: 15px 39px 14px;
}
.content-hero__link_pink {
  background-color: #D50138;
}
.content-hero__link_transparent {
  background-color: transparent;
  border: 1px solid #8A8A8A;
}

.image-hero {
  border-radius: 23px;
  overflow: hidden;
}