[class*="__container"] {
	max-width: 1235px;
	margin: 0 auto;
	padding: 0px 10px;
}

// Colors
$mainColor: #fff;
$blackColor: #000;

// Botton
.btn {
	cursor: pointer;
}
// Logo
.logo {
}

// Nav
.nav {
}

// Body
body {
	// font-family: "Roboto", sans-serif;
	// font-family: "Outfit", sans-serif;
	font-family: "MTN Brighter Sans Regular";
	// font-family: "MTN Brighter Sans Medium";
	// font-family: "MTN Brighter Sans Bold";
	background-color: $blackColor;
	color: $mainColor;
	font-size: 16px;
	line-height: 1.2;
}

// Header
.header {
	// .header__container

	&__container {
	}

	// .header__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 105px 0 95px;
	}
}

.menu {
	display: flex;
	align-items: center;
	gap: 26px;

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
		font-family: "Outfit", sans-serif;
		font-size: 25px;
	}
}

// hero
.hero {
	padding-bottom: 26px;

	// .hero__container

	&__container {
	}

	// .hero__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .hero__content

	&__content {
	}

	// .hero__image

	&__image {
	}
}
.content-hero {
	// .content-hero__title

	&__title {
		font-size: 50px;
		line-height: 0.91;
		letter-spacing: -1px;
		margin-bottom: 10px;
		max-width: 495px;
		span {
			font-size: 50px;
			font-weight: 700;
			line-height: 47.5px;
		}
	}

	// .content-hero__text

	&__text {
		font-family: "Roboto", sans-serif;
		font-size: 20px;
		line-height: 1.37;
		margin-bottom: 28.15px;
		max-width: 373px;
	}

	// .content-hero__buttons

	&__buttons {
		display: flex;
		align-items: center;
		gap: 51px;
	}

	// .content-hero__link

	&__link {
		color: $mainColor;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.37;
		border-radius: 10px;
		padding: 15px 39px 14px;
		&_pink {
			background-color: #d50138;
		}
		&_transparent {
			background-color: transparent;
			border: 1px solid #8a8a8a;
		}
	}
}
.image-hero {
	border-radius: 23px;
	overflow: hidden;
}

// services
.services {
	padding: 118px 0;
	// .services__container

	&__container {
	}

	// .services__title

	&__title {
		font-size: 20px;
		line-height: 1.37;
		text-transform: uppercase;
		margin-bottom: 12.24px;
	}

	// .services__inner

	&__inner {
		border-radius: 6px;
		background: rgba(255, 255, 255, 0.1);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		padding: 20px 0;
	}

	// .services__item

	&__item {
	}
}
.item-services {
	display: flex;
	align-items: center;
	gap: 30px;

	// .item-services__img

	&__img {
	}

	// .item-services__text

	&__text {
	}
}

// pricing
.pricing {
	padding: 72px 0;

	// .pricing__container

	&__container {
	}

	// .pricing__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 68px;
	}

	// .pricing__content

	&__content {
	}

	// .pricing__image

	&__image {
	}
}
.content-pricing {
	// .content-pricing__title

	&__title {
		font-size: 36px;
		line-height: 0.98;
		letter-spacing: -0.72px;
		margin-bottom: 13px;
		max-width: 400px;
	}

	// .content-pricing__text

	&__text {
		margin-bottom: 24px;
		font-family: "Roboto", sans-serif;
		font-size: 17px;
		line-height: 1.02;
		max-width: 373px;
	}

	// .content-pricing__buttons

	&__buttons {
	}

	// .content-pricing__link

	&__link {
		display: inline-block;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.37;
		border-radius: 10px;
		background: #0026ff;
		padding: 15px 27px;
	}
}
.image-pricing {
}
